<!DOCTYPE html>
<html lang="en">

<head>
    <title>COMP 1950 Website Revamp Proposal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/sitemap/slickmap.css" rel="stylesheet">
    <script></script>
</head>

<body>
    <div class="sitemap">
        <h1>Sitemap - COMP 1950 Website Revamp</h1>
        <h2>Bruna Vieira, Godfrey Kwan, Sam Chung</h2>
        <ul id="utilityNav">
            <br>
            <br>
            <br>
        </ul>
        <ul id="primaryNav">
            <li id="home"><a href="">Revamp Proposal</a></li>
            <li><a href="index.html">Proposal Site</a>
            <ul>
                <li><a href="#team-intro">Team</a></li>
                <li><a href="#rationale-intro">Deliverables/Rationale</a></li>
                <li><a href="#deliverable-main1">D:1</a></li>
                <li><a href="#deliverable-main2">D:2</a></li>
                <li><a href="#deliverable-main3">D:3</a></li>
                <li><a href="#deliverable-main4">D:4</a></li>
                <li><a href="#deliverable-main5">D:5</a></li>
                <li><a href="views/sitemap/sitemap.html">Sitemap</a></li>
                <li><a href="#link-to-proto">Proto</a></li>
            </ul>
            </li>
            <ul>
                <li><a href="index.html">Proto-site</a>
                <ul>
                    <li><a href="course_details.shtml">Course Details</a></li>
                    <li><a href="course_goal.shtml">Course Goal</a></li>
                    <li><a href="course_outcomes.shtml">Learning Outcomes</a></li>
                    <li><a href="course_details.shtml">Homework</a></li>
                </ul>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </ul>

    </div>
</body>

</html>